<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achare test</title>
    
    <div style="border: 2px solid black;">
        <h2>this is header</h1>
    </div>
</head>

<body>
    {% block content %}
    {% endblock content %}
</body>

<footer>
    <div style="border: 2px solid black;">
        <h2>this is footer</h1>
    </div>
</footer>
</html>