<!DOCTYPE html>
<html lang="en">
<head>
    {% csrf_token %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achare test</title>

    {% include 'snippets/header.html' %}
    {% include 'snippets/base_css.html' %}
</head>

<body>
    <!-- Body -->
    <style type="text/css">
        .main{
            min-height: 70vh;
            height: 100%;
        }
    </style>

    <div class="main">
        {% block content %}

        {% endblock content %}
    </div>
    <!-- End Body -->

    {% include 'snippets/footer.html' %}
</body>


</html>